<div class="playingCards [fourColours|faceImages|simpleCards|inText|rotateHand]">
	<div ng-controller="GameCtrl">
		<div class="community-cards">
			<h1>Communtiy Cards</h1>
				<ul id="flop" class="table">
					<li>
						<div class="card rank-7 spades">
								<span class="rank">7</span>
								<span class="suit">&spades;</span>
						</div>
					</li>
					<li>
						<div class="card rank-7 spades">
								<span class="rank">7</span>
								<span class="suit">&spades;</span>
						</div>
					</li>
					<li>
						<div class="card rank-7 spades">
								<span class="rank">7</span>
								<span class="suit">&spades;</span>
						</div>
					</li>
				</ul>
				<ul id="seat1" class="table">
					<li>
						<div class="card rank-7 spades">
								<span class="rank">7</span>
								<span class="suit">&spades;</span>
						</div>			
					</li>
				</ul>
				<ul id="seat1" class="table">
					<li>
						<div class="card rank-7 spades">
								<span class="rank">7</span>
								<span class="suit">&spades;</span>
						</div>			
					</li>
				</ul>
		</div>
		<div class="hole-cards">
			<h1>Hole Cards</h1>
			<ul id="seat1" class="hand">
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>			
				</li>
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>
				</li>
			</ul>
			<ul id="seat2" class="hand">
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>			
				</li>
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>
				</li>
			</ul>
			<ul id="seat3" class="hand">
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>			
				</li>
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>
				</li>
			</ul>
			<ul id="seat4" class="hand">
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>			
				</li>
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>
				</li>
			</ul>
			<ul id="seat5" class="hand">
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>			
				</li>
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>
				</li>
			</ul>
			<ul id="seat6" class="hand">
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>			
				</li>
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>
				</li>
			</ul>
			<ul id="seat7" class="hand">
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>			
				</li>
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>
				</li>
			</ul>
			<ul id="seat8" class="hand">
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>			
				</li>
				<li>
					<div class="card rank-7 spades">
						  <span class="rank">7</span>
						  <span class="suit">&spades;</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
